<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingji.travel.mappers.BannerEntityMapper">
  <resultMap id="BaseResultMap" type="com.lingji.travel.entities.BannerEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="orderno" jdbcType="INTEGER" property="orderno" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
</mapper>