<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingji.travel.mappers.ModuleEntityMapper">
  <resultMap id="BaseResultMap" type="com.lingji.travel.entities.ModuleEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="actiontype" jdbcType="VARCHAR" property="actiontype" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="orderno" jdbcType="INTEGER" property="orderno" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="createuser" jdbcType="INTEGER" property="createuser" />
    <result column="modifyuser" jdbcType="INTEGER" property="modifyuser" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
  </resultMap>
</mapper>