<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingji.travel.mappers.NewsEntityMapper">
  <resultMap id="BaseResultMap" type="com.lingji.travel.entities.NewsEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="viewcount" jdbcType="INTEGER" property="viewcount" />
    <result column="orderno" jdbcType="INTEGER" property="orderno" />
    <result column="ontop" jdbcType="INTEGER" property="ontop" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>