<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingji.travel.mappers.RestaurantCommentEntityMapper">
  <resultMap id="BaseResultMap" type="com.lingji.travel.entities.RestaurantCommentEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="restaurant_id" jdbcType="INTEGER" property="restaurantId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="video" jdbcType="VARCHAR" property="video" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="taste_score" jdbcType="INTEGER" property="tasteScore" />
    <result column="sanitation_score" jdbcType="INTEGER" property="sanitationScore" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="image" jdbcType="LONGVARCHAR" property="image" />
  </resultMap>
</mapper>