<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingji.travel.mappers.RestaurantEntityMapper">
  <resultMap id="BaseResultMap" type="com.lingji.travel.entities.RestaurantEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="merchant_id" jdbcType="INTEGER" property="merchantId" />
    <result column="tradingarea_id" jdbcType="INTEGER" property="tradingareaId" />
    <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="cover_url" jdbcType="VARCHAR" property="coverUrl" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="orderno" jdbcType="INTEGER" property="orderno" />
    <result column="business_start_time" jdbcType="VARCHAR" property="businessStartTime" />
    <result column="business_end_time" jdbcType="VARCHAR" property="businessEndTime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="is_top" jdbcType="INTEGER" property="isTop" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="video_url" jdbcType="LONGVARCHAR" property="videoUrl" />
    <result column="img_url" jdbcType="LONGVARCHAR" property="imgUrl" />
  </resultMap>
</mapper>